**/.svn/*
**/.git/*
**/node_modules/**
**/db_buffer/**
**/build/**
**/file_pool/**
**/.vs/**
资料/**
**/Debug/**
**/Release/**
土星资料/**

*.csv
*.logicdata
*.logicsettings

*.opendb
*.obj
*.tlog
*.log
*.idb
*.pdb
*.db
*.exe
*.mdf
*.mds