#
# 模式目录
#
**/.svn/*
**/.git/* 
**/node_modules/**
**/db_buffer/**
**/build/**
**/file_pool/**
**/.vs/**
**/Debug/**
**/Release/**
**/Documentation/**

#
# 目录
#
资料
土星资料
stc_comm
STM32F4xx_DSP_StdPeriph_Lib_V1.8.0
cd-drive-emu/Objects

#
# 媒体文件
#
*.csv
*.logicdata
*.logicsettings
*.jpg
*.png
*.pdf
*.rtf
*.bmp
*.zip
*.exe
*.mdf
*.mds

#
# 编译文件
#
*.sdf
*.opendb
*.obj
*.tlog
*.log
*.idb
*.pdb
*.db
*.tmp
*.o